/* The selects. */
.hs-lite-widget-wrapper .hs-lite-selects select,
.hs-lite-widget-wrapper .hs-lite-selects .add-to-dropbox,
.hs-lite-widget-wrapper .hs-lite-selects .create-new-item {
  margin: 0;
  margin-right: .5em;
  margin-bottom: 3px;
  float: left;
}

/* The droparea table. */
.hs-lite-widget-wrapper .droparea-title {
  font-size: 115%;
  color: #898989;
  margin-bottom: 0.2em;
}

.hs-lite-widget-wrapper .hs-lite-droparea {
  display: inline-block;
  margin: .5em 0;
}

.hs-lite-widget-wrapper .hs-lite-droparea table {
  margin: 0;  
  width: auto;
  max-width: 100%;
  min-width: 20em;
  color: gray;
  font-size: 90%;
  border: 1px solid gray;
}

tr.droparea-entry {
  line-height: 1.3em;
  padding: .3em .6em;
}

tr.droparea-entry.even {
  background-color: transparent;
  border-bottom: 1px solid #CCCCCC;
}

tr.droparea-entry.odd {
  background-color: #EDF5FA;
  border-bottom: 1px solid #CCCCCC;
}

tr.droparea-entry.first {
  border-top: 1px solid gray;
}

tr.droparea-entry.last {
  border-bottom: 1px solid gray;
}